* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../imagenes/fondologin.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.forma {
    position: relative;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    max-width: 500px;
    margin: 48px auto;
    color: #fff;
    border-radius: 5px;
}

.forma .toggle {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #ff851b;
    border-bottom: 2px solid #ff851b;
    transition: all .5s ease;
    cursor: pointer;
}

.forma .toggle span {
    letter-spacing: 1px;
}

.forma .toggle:hover {
    border-top: 2px solid #0075d9;
    border-bottom: 2px solid #0075d9;
}

.forma h2 {
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

.forma input[type="text"],
.forma input[type="password"],
.forma input[type="email"] {
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #ff851b;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px 0;
    transition: all .5s ease;
}

.forma input[type="text"]:focus,
.forma input[type="password"]:focus,
.forma input[type="email"]:focus {
    border-bottom: 4px solid #0075d9;
}

.forma input[type="submit"] {
    margin-bottom: 5px;
    background: #ff851b;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s ease;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.forma input[type="submit"]:hover {
    background: rgba(0, 117, 217, 0.7);
}

.forma {
    padding: 40px;
    display: none;
}

.forma:nth-child(1) {
    display: block;
}

.reset-pass a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.reset-pass {
    background: rgba(0, 117, 217, 0.7);
    color: #fff;
    padding: 15px 0;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}